<!--
<div class="col-12 mb-4">
  <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
</div>
-->
<div class="col-12 pt-lg-3 mb-4 pl-lg-5 px-lg-0 px-4 portfolio-content">
    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
    <hr>
    <%- item.content %>
</div>
