<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body>
  	<div class="container-fluid navbar-container m-sm-5 max-width-container bg-white">
      <!-- Header -->
      <%- partial('_partial/header') %>

  		<div class="row row-padding">
  			<%- body %>
      </div>
      <% if (page.total > 1) { %>
    <nav class="page-nav">
        <%- paginator({prev_text: '<', next_text: '>'}) %>
    </nav>
<% } %>

    </div>

    <footer class="footer max-width-container py-3">
      <div class="container text-right">
        <p class="text-white">
          &copy; YURI MATSUMOTO 2018 / Source and Licenses<br>
          Lovingly made by MATSUMOTO YURI and TAKEDA HIROSHI
        </p>
      </div>
    </footer>

    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
